<!-- Top Header: Logo, Search, and Icons -->
 {% load static %}
<div class="container-fluid py-3 border-bottom bg-white">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-md-2 col-6">
                <a href="/" class="text-decoration-none">
                    <img src="{% static 'images/logo.png' %}" alt="Ghorer Bazar" style="height: 50px;">
                </a>
            </div>

            <!-- Search Bar -->
            <div class="col-md-6 d-none d-md-block">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill-start border-end-0 bg-light" placeholder="Search in..." style="border-radius: 25px 0 0 25px; padding-left: 20px;">
                    <span class="input-group-text bg-light border-start-0" style="border-radius: 0 25px 25px 0;">
                        <i class="fas fa-search text-muted"></i>
                    </span>
                </div>
            </div>

            <!-- Icons -->
            <div class="col-md-4 col-6 text-end d-flex justify-content-end align-items-center">
                <div class="nav-icon mx-2 text-center d-none d-lg-block">
                    <i class="fas fa-map-marker-alt d-block mb-1"></i>
                    <small style="font-size: 10px;">Track Order</small>
                </div>
                <div class="nav-icon mx-2 text-center">
                    <i class="far fa-user d-block mb-1"></i>
                    <small style="font-size: 10px;">My Account</small>
                </div>
                <div class="nav-icon mx-2 text-center d-none d-md-block">
                    <i class="far fa-heart d-block mb-1"></i>
                    <small style="font-size: 10px;">Wishlist</small>
                </div>
                <div class="nav-icon mx-2 text-center position-relative">
                    <i class="fas fa-shopping-basket d-block mb-1 text-dark"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark" style="font-size: 10px;">0</span>
                    <small style="font-size: 10px;">Cart</small>
                </div>
                <div class="nav-icon mx-2 text-center">
                    <i class="fas fa-bars d-block mb-1"></i>
                    <small style="font-size: 10px;">More</small>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom Header: Category Navigation -->
<div class="container-fluid" style="background-color: #002d25;">
    <div class="container overflow-auto">
        <ul class="nav justify-content-between text-nowrap py-2">
            <li class="nav-item"><a href="#" class="nav-link text-white small px-2">EID 2026</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white small px-2">Offer Zone</a></li>
            {% for cat in menu_categories %}
            <li class="nav-item">
                <a href="{% url 'category_product' cat.name %}" class="nav-link text-white small px-2">
                    {{ cat.name }}
                </a>
            </li>
    
            {% endfor %}
        </ul>
    </div>
</div>

<style>
    .nav-icon i { font-size: 20px; color: #000000; }
    .nav-link:hover { opacity: 0.8; }
    .dropdown-toggle::after { font-size: 10px; vertical-align: middle; }
    /* Horizontal scroll hide for category menu */
    .container.overflow-auto::-webkit-scrollbar { display: none; }
</style>